*, *:before, *:after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: Helvetica;
}


.header-topic{
  padding-left: 20px;
  border-bottom: 1px solid #999;
}

.blog-post, pre {
  margin: 0 auto;
  width: 800px;
}

pre{
  background: lightblue;
  overflow: scroll;
  padding: 0 0px 10px;
}

pre h2{
  background: #ddd;
  margin: 0;
  padding: 10px;
}

h1 {
  font-family: Palatino;
  font-weight: 200;
}


.title-area {
  margin-bottom: 20px;
}


/*Social AREA*/
.social {
  margin-bottom: 22px;
}
.social > * {
  display: inline-block;
  vertical-align: middle;
}

.share-count {
  text-align: center;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  margin-right: 10px;
}

.share-count .number {
  color: green;
  font-size: 72px;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 0;
}

.share-count .text{
  font-size: 10px;
  text-transform: uppercase;
  color: #555;
}

.social .share-fb,
.social .share-tw,
.social .more {
  color: #fff;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 4px;
  border: none;
}

.social .share-tw,
.social .share-fb{
  font-size: 12px;
}

.social .share-tw img,
.social .share-fb img{
  width: 20px;
  height: 20px;
  color: #fff;
  position: relative;
  top: 5px;
}

.social .share-fb{
  background: #36a;
}

.social .share-tw{
  background: #6ce ;
}

.social .more {
  background: #999;
  font-size: 22px;
  padding-bottom: 19px;
  height: 40px;
}

/*author info*/
/*----------*/
.author-info{
  text-align: right;
}

.author-info > * {
  display: inline-block;
  vertical-align: middle;
}

.author-info img{
  width: 60px;
  margin-left: 5px;
  border-radius: 50%;
}

.author-info h5 {
  margin: 0;
}

.author-info .publish-date {
  font-weight: 400;
}

/* content  */
/*----------*/

.article-area{
  width: 600px;
  margin: 0 auto;
}

.main-content p {
  margin-top: 20px;
  line-height: 1.5em;
}

.related-article{

}

.related-article a {
  color: #16a085;
  text-decoration: none;
  transition: all .1s;
}

.related-article a:hover{
  color: #c0392b;

}

.topics {
  font-size: 10px;
}

.topics a {
  color: #3498db;
  text-decoration: none;
  padding: 2px;
}

.topics a:hover{
  border: 1px solid #999;
}

hr{
  width: 150px;
  margin: 50px auto;
}


#modal{
  display: none;
  position: fixed;
  background: rgba(100,100,100,.6);
  left:0; top: 0;
  width: 100%; height: 100%;
}

#modal > *{
  background: #fff;
  position: absolute;
  width: 360px;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
}

#modal h3{
  margin: 0;
  background: #049372;
  padding: 10px;
  color: #fff;
}


#modal p{
  padding: 10px;
  line-height: 1.4rem;
}

#modal button{
  background: #96281B;
  color: #fff;
  padding: 8px;
  font-weight: 200;
  outline: 0;
  border: 0;
  cursor: pointer;
}

#modal button:hover{
  background: #C0392B;
}


#modal.active{
  display: block;
}

